@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(RGB(221, 158, 94)), to(RGB(202, 125, 78)));
  background: linear-gradient(RGB(221, 158, 94), RGB(202, 125, 78));
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgb(120, 100, 80);
  border-radius: 5px;
  overflow: hidden;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6em;
  height: 6em;
  margin-top: 2rem;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(45deg, rgb(221, 158, 94), rgb(218, 119, 58));
  overflow: hidden;
}

.img:hover {
  background: linear-gradient(45deg, rgb(218, 119, 58), rgb(221, 158, 94));
}

.img img {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.name {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 0.5;
}

span {
  font-size: 0.8rem;
}

.buttons {
  width: 100%;
  margin: 1rem 0;
  margin-left: 0.7em;
}

.buttons input {
  width: 50%;
  padding: 0.3em 1em;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid rgb(120, 100, 80);
  border-radius: 15px;
}

.buttons input:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(120, 100, 80);
  color: rgb(255, 255, 255);
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 5px 5px 0px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1px;
  background-color: rgb(244, 231, 222);
}

.link:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(224, 224, 224);
}

.link span {
  width: 100%;
}

.number {
  font-size: 1.2em;
  font-weight: 600;
}